<div class="container">
  <header>
    <h1>{{movie.title}}</h1>
  </header>
  <div class="col-xs-6">
    <img src="{{movie.poster}}">
  </div>
  <div class="col-xs-6" style="text-shadow: 1px 1px white;">
    <h2>Director: {{movie.director}}</h2>
    <h3>Actors: {{movie.actors}}</h3>
    <h4>Genre: {{movie.genre}}, Rated: {{movie.rated}}, Released: {{movie.released_date}}</h4>
    <h3>Plot: </h3>
    <h4>{{movie.plot}}</h4>
    <div star-rating ng-model="movie.rating"></div>
    <form method="post">
      <button ng-click="deleteMovie(movie.id)" class="btn btn-md submitbutton">Delete Movie</button>
      <button class="btn btn-md submitbutton" ng-click="show=!show">Add Comment</button>
    </form>
    <div ng-show="show">
        <h4>Add Comment to {{movie.title}}!</h4>
        <form class="form" ng-submit="sendMsg()">
          <textarea class="form-control" rows="5" placeholder="Comment Here"></textarea>
          <br>
          <button class="btn btn-md submitbutton">Add</button>
        </form>
    </div>
  </div>

</div>
