<div class="container">
  <header>
    <h1>{{movie.title}}</h1>
  </header>
  <div class="col-xs-6">
    <img src="{{movie.poster}}">
  </div>
  <div class="col-xs-6" style="text-shadow: 1px 1px white;">
    <h2>Director: {{movie.director}}</h2>
    <h3>{{movie.actors}}</h3>
    <h4>Genre: {{movie.genre}}, Rated: {{movie.rated}}, Released: {{movie.released_date}}</h4>
    <h4>{{movie.plot}}</h4>
    <div star-rating ng-model="movie.rating"></div>
    <form method="post">
      <button ng-click="deleteMovie(movie.id)" class="btn btn-md submitbutton">Delete Movie</button>
      <button class="btn btn-md submitbutton">Add Comment</button>
    </form>
  </div>

</div>
