<div class="container myMovie">
  <header>
    <h1>{{title}}</h1>
  </header>
  <input ng-model="sort" class="form-control" style="width: 50%; margin-left: 25%;" placeholder="Search Movies"></input>
  <div class="col-xs-3" ng-repeat="movie in movies | filter: sort">
    <h3>{{movie.title}}</h3>
    <button ng-click="setCurrentMovie(movie.id)"><img ng-src="{{movie.poster}}"></button>
    <select class="ratings" data-movieid="{{movie.id}}" data-initial-rating="{{movie.rating}}">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

</div>
