<div class="container myMovie">
  <header>
    <h1>{{title}}</h1>
  </header>
  <div class="col-xs-6">
    <input ng-model="sort" class="form-control" placeholder="Search Movies"></input>
  </div>
  <div class="col-xs-6">
    <select ng-model="rate" class="form-control" placeholder="Search Movies">
      <option value="NA">N/A</option>
      <option value="rating">Rating</option>
    </select>
  </div>
  <div class="col-xs-3" ng-repeat="movie in movies | filter: sort | orderBy : rate : reverse">
    <h3>{{movie.title}}</h3>
    <button><a ng-click="setCurrentMovie(movie.id)" href="/#/showpage"><img ng-src="{{movie.poster}}"></a></button>
    <div star-rating ng-model="movie.rating" on-rating-select="rateFunction($index)"></div>
  </div>

</div>
