{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container myMovie">
    <header>
      <h1>My Movies</h1>
    </header>
    {% for movie in movies %}
    <div class="col-xs-3">
      <h3>{{movie.title}}</h3>
      <button><a href="/showpage/{{movie.id}}"><img src="{{movie.poster}}"></a></button>
      <select class="ratings" data-movieid="{{movie.id}}" data-initial-rating="{{movie.rating}}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    {% endfor %}

  </div>

{% endblock %}
