{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <header>
      <h1>{{movie.title}}</h1>
    </header>
    <div class="col-xs-6">
      <img src="{{movie.poster}}">
    </div>
    <div class="col-xs-6" style="text-shadow: 1px 1px white;">
      <h2>Director: {{movie.director}}</h2>
      <h3>{{movie.actors}}</h3>
      <h4>Genre: {{movie.genre}}, Rated: {{movie.rated}}, Released: {{movie.released_date}}</h4>
      <h4>{{movie.plot}}</h4>
      <form method="post">
        <button class="btn btn-md">Delete Movie</button>
        <button class="btn btn-md">Add Rating</button>
      </form>
    </div>

  </div>

{% endblock %}
