{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <header>
      <h1>{{movie.title}}</h1>
    </header>
    <div class="col-xs-6">
      <img src="{{movie.poster}}">
    </div>
    <div class="col-xs-6">
      <h3>Director: {{movie.director}}</h3>
      <h4>{{movie.actors}}</h4>
      <h5>Genre: {{movie.genre}}, Rated: {{movie.rated}}, Released: {{movie.released_date}}</h5>
      <p>{{movie.plot}}</p>
    </div>

  </div>

{% endblock %}
