<div class="container">

  <header>
    <h1>{{title}}</h1>
    <h3>What's Your Favorite Movie?</h3>
  </header>
  <section>
    <input type="text" ng-model="movieTitle" class="form-control" style="width: 50%; margin-left: 25%;" placeholder="Search By Movie Title"><br>
    <button class="btn btn-md submitbutton" ng-click="getOMDB()">Search</button>
    <button class="btn btn-md submitbutton" ng-click="saveMovie(); showDiv=true" ng-if="user">Save Movie</button>
    <div ng-show="showDiv">
      <h5>Movie was saved to database!</h5>
    </div>
    <div id='results' class='results' ng-if="movie">
      <h2>{{movie.Title}}</h2>
      <h3>Director: {{movie.Director}}</h3>
      <img ng-src="{{movie.Poster}}">
      <h4>Actors: {{movie.Actors}}</h4>
      <h5>Genre: {{movie.Genre}}, Rated: {{movie.Rated}}, Released: {{movie.Released}}</h5>
      <h4><strong>Plot: </strong>{{movie.Plot}}</h4>
    </div>
  </section>

</div>
